//- Benefits
//-
//- A simple informational block, outlining some key benefits of the service


.benefits
  .benefits__cost
    p.benefits__cost__text Howdy costs just #[span.benefits__cost__text__highlight $2 per month]

  ul.benefits__list
    li.benefits__list__item Use Howdy across an #[strong.benefits__list__item__highlight unlimited] number of sites
    li.benefits__list__item Use Howdy for up to #[strong.benefits__list__item__highlight 25] different forms
    li.benefits__list__item Use Howdy with an #[strong.benefits__list__item__highlight unlimited] number of email addresses
