extends ./templates/base/_logo_base

block prepend vars
  -var bodyClass = "page page--get-start-subscription"
  -var title = "Instant contact forms without writing a line of code - Howdy"

block content
  .envolope-container
    .envelope
      #get-start-subscription
      //- See the StartSubscription react component
