extends pages/base/_base

block prepend vars
  -var bodyClass = 'home-page'
  -var exampleEmail = 'your-email@example.com'
  -var shareMessage = 'Check out Howdy. Instant, professional contact forms without programming.'
  -var description = 'Instant, professional contact forms without programming'

block content
    section.benefits
      .container
        h2 How does it work?
        h3 Howdy connects your contact forms and delivers submissions to your email inbox
        .benefit
          img.benefit__image(src='/images/professional.svg')
          h4.benefit__heading Professional form handling
          p.benefit__content Howdy features <strong>automatic input validation</strong> and <strong>intelligently formats emails</strong>. This means your messages are always professionally presented.<br /><a href="#professional-form-handling">Learn more...</a>
          
        .benefit
          img.benefit__image(src='/images/no-programming.svg')
          h4.benefit__heading No programming
          p.benefit__content If you can copy and paste HTML, you can use Howdy. It makes no assumptions about your page design, and requires <strong>no programming</strong>.<br /><a href="#automagical-setup">Learn more...</a>

        .benefit
          img.benefit__image(src='/images/value.svg')
          h4.benefit__heading Unbelieveable value
          p.benefit__content Howdy lets you send unlimited messages to up to <strong>25 different inboxes</strong> for just <strong>$2/month</strong>. Never has doing this yourself been so <em>not</em> worth your time.<br /><a href="#unbelieveable-value">Learn more...</a>

        .clear(style="clear: both;")
        
    section.alt.benefits#professional-form-handling
      .container
        h2 Professional form handling
        h3 Our delivered emails use all available data to correctly format your messages
        p Howdy will automatically scan named inputs in your forms, choosing appropriate fields to form the <b>from</b>, <b>reply-to</b> and <b>subject</b> fields of the delivered email. If none of these are supplied, Howdy just falls back to sensible defaults, try it out below:
        
        #try-it-out          

    section.defaults#automagical-setup
      .container
        h2 No programming
        h3 If you can copy and paste, you can use Howdy
        
        h4 Installation:
        p Just paste your generated snippet onto the same page as your form HTML, we'll take care of the rest.

        .code
          .code__wrapper
            ul.code__list
              li.code__list__item
                span &lt;
                span.code__element script&nbsp;
                span src
                span.code__text =“
                span.code__overflow &hellip;
                span.code__text “&nbsp;
                span data-howdy-recipient
                span.code__text =“
                span your@email.com
                span.code__text “
                span &gt;&lt;/
                span.code__element script
                span &gt;
                
        h4 Re-use your snippet for multiple forms:
        p You can even re-use the same snippet for different contact forms, just update the <code>data-howdy-recipient</code> attribute on the snippet to have it send to a different inbox.

        .code
          .code__wrapper
            ul.code__list
              li.code__list__item
                span &lt;
                span.code__element script&nbsp;
                span src
                span.code__text =“
                span.code__overflow &hellip;
                span.code__text “&nbsp;
                span data-howdy-recipient
                span.code__text =“
                span another@email.com
                span.code__text “
                span &gt;&lt;/
                span.code__element script
                span &gt;
        
        h4 Input validation:
        p Howdy will choose an appropriate method of validation for your inputs. Alternatively, you can set your own.

        .code
          .code__wrapper
            ul.code__list
            li.code__list__item
              span.code__comment // Automatically validated:
              li.code__list__item
                span &lt;
                span.code__element input&nbsp;
                span.code__data-attribute type
                span.code__text =“
                span text
                span.code__text ”&nbsp;
                span.code__data-attribute name
                span.code__text =“
                span telephone
                span.code__text ”&nbsp;
                span /&gt;
              li.code__list__item
                span.code__comment // Set your own validation:
              li.code__list__item
                span &lt;
                span.code__element input&nbsp;
                span.code__data-attribute type
                span.code__text =“
                span text
                span.code__text ”&nbsp;
                span.code__data-attribute name
                span.code__text =“
                span login
                span.code__text ”&nbsp;
                span.code__data-attribute data-howdy-validate
                span.code__text =“
                span email
                span.code__text ”&nbsp;
                span /&gt;
                
        p Accepted validation types are <code>none</code>, <code>required</code>, <code>email</code>, <code>number</code>, <code>date</code>, <code>tel</code>.
        p Automatically validated input names are <code>email</code>, <code>name</code>, <code>first_name</code>, <code>last_name</code>, <code>firstName</code>, <code>lastName</code>, <code>subject</code>, <code>topic</code>, <code>about</code>, <code>body</code>, <code>message</code>, <code>address</code>, <code>postcode</code>, <code>post_code</code>, <code>postCode</code>, <code>zipcode</code>, <code>zip_code</code>, <code>zipCode</code>, <code>tel</code>, <code>telephone</code>, <code>mobile</code>, <code>mob</code>, <code>age</code>, <code>dob</code>, <code>date_of_birth</code> and <code>dateOfBirth</code> also work.

    section.alt.sellpoints#unbelieveable-value
      .container
        h2 Unbelieveable value
        h3 Our pricing is simple, flat, and affordable at $2 per month

        include ./pages/modules/pricing-sellpoints

        p.centered
          a.button(href="#jumbotron") Generate my snippet
