extends pages/base/_base

block prepend vars
  -var bodyClass = 'home-page'
  -var exampleEmail = 'your-email@example.com'
  -var shareMessage = 'Check out Howdy. Instant contact forms to your email inbox without a line of code.'
  -var description = 'Instant contact forms to your email inbox without a line of code'

block content
    section.alt.benefits
      .container
        h2 What does it do?
        h3 Howdy takes the pain out of sending contact form submissions to email addresses
        
        .benefit
          h4.benefit__heading Automagical setup
          p.benefit__content If you can copy and paste HTML, you can use Howdy. It makes no assumptions about your page design, and requires <strong>no programming</strong>. <a href="#automagical-setup">Learn more...</a>
          
        .benefit
          h4.benefit__heading Professional form handling
          p.benefit__content Howdy will automatically validate your contact forms, and intelligently guess things like <code>reply-to</code> emails and <code>from</code> names from message content, so messages are always professionally presented. <a href="#professional-form-handling">Learn more...</a>
          
        .benefit
          h4.benefit__heading Unbelieveable value
          p.benefit__content Howdy lets you send unlimited messages to up to <strong>25 different inboxes</strong> for just <strong>$2/month</strong>. Never has doing this yourself been so <em>not</em> worth your time. <a href="#unbelieveable-value">Learn more...</a>
                
    section.defaults#automagical-setup
      .container 
        h2 Automagical setup
        h3 As soon as our snippet is loaded, Howdy will automatically handle your form
        
        p If you can copy and paste HTML you can add Howdy to your websites. Simply generate your snippet on this page and then copy &amp; paste it to your page's HTML:
        
        .code
          .code__wrapper
            ul.code__list
              li.code__liste__item
                span.code__comment // Write your contact form just the way you like it:
              li.code__list__item
                span &lt;
                span.code__element form
                span &gt;
              li.code__list__item
                span &nbsp;&nbsp;&lt;
                span.code__element input 
                span.code__data-attribute type
                span.code__text =“
                span text
                span.code__text ”
                span.code__data-attribute  name
                span.code__text =“
                span first_name
                span.code__text ”
                span /&gt;
              li.code__list__item
                span &nbsp;&nbsp;&lt;
                span.code__element input 
                span.code__data-attribute type
                span.code__text =“
                span text
                span.code__text ”
                span.code__data-attribute  name
                span.code__text =“
                span last_name
                span.code__text ”
                span /&gt;
              li.code__list__item
                span &nbsp;&nbsp;&lt;
                span.code__element textarea 
                span.code__data-attribute name
                span.code__text =“
                span message
                span.code__text ”
                span &gt;
                span &lt;/
                span.code__element textarea
                span &gt;
              li.code__list__item
                span &nbsp;&nbsp;&lt;
                span.code__element input 
                span.code__data-attribute type
                span.code__text =“
                span submit
                span.code__text ”
                span.code__data-attribute value
                span.code__text =“
                span Send message
                span.code__text ”
                span /&gt;
              li.code__list__item
                span &lt;/
                span.code__element form
                span &gt;
              li.code__liste__item(style="padding-top:25px")
                span.code__comment // Then paste in the snippet:
              li.code__list__item
                span &lt;
                span.code__element script 
                span src
                span.code__text =“
                span.code__overflow &hellip;
                span.code__text “ 
                span data-howdy-recipient
                span.code__text =“
                span your@email.com
                span.code__text “
                span &gt;&lt;/
                span.code__element script
                span &gt;
        
        p You can even re-use the same snippet for different contact forms, just update the <code>data-howdy-recipient</code> attribute on the snippet to have it send to a different inbox:

        .code
          .code__wrapper
            ul.code__list
              li.code__list__item
                span &lt;
                span.code__element script 
                span src
                span.code__text =“
                span.code__overflow &hellip;
                span.code__text “ 
                span data-howdy-recipient
                span.code__text =“
                span another@email.com
                span.code__text “
                span &gt;&lt;/
                span.code__element script
                span &gt;
    
    section.alt.benefits#professional-form-handling
      .container
        h2 Professional form handling
        h3 Howdy automatically validates on all common fields &amp; does custom validations too
        
        p Howdy will use the <code>name</code> attribute of inputs to determine how best to validate them:
        ul.list
          li.list__item email
          li.list__item name
          li.list__item first_name
          li.list__item last_name
          li.list__item firstName
          li.list__item lastName
          li.list__item subject
          li.list__item topic
          li.list__item about
          li.list__item body
          li.list__item message
          li.list__item address
          li.list__item postcode
          li.list__item post_code
          li.list__item postCode
          li.list__item zipcode
          li.list__item zip_code
          li.list__item zipCode
          li.list__item tel
          li.list__item telephone
          li.list__item mobile
          li.list__item mob
          li.list__item age
          li.list__item dob
          li.list__item date_of_birth
          li.list__item dateOfBirth
          
        p You can add data attributes to your <code>inputs</code> and <code>textareas</code> to add or override default validations:
        .code
          .code__wrapper
            ul.code__list
              li.code__list__item
                span.code__data-attribute data-howdy-validate
                span.code__text =“
                span none
                span.code__text ”
                span.code__comment // No validation on this input
              li.code__list__item
                span.code__data-attribute data-howdy-validate
                span.code__text =“
                span required
                span.code__text ”
                span.code__comment // Some value is required
              li.code__list__item
                span.code__data-attribute data-howdy-validate
                span.code__text =“
                span email
                span.code__text ”
                span.code__comment // Email address is required
              li.code__list__item
                span.code__data-attribute data-howdy-validate
                span.code__text =“
                span number
                span.code__text ”
                span.code__comment // A number is required
              li.code__list__item
                span.code__data-attribute data-howdy-validate
                span.code__text =“
                span date
                span.code__text ”
                span.code__comment // A date is required  
              li.code__list__item
                span.code__data-attribute data-howdy-validate
                span.code__text =“
                span tel
                span.code__text ”
                span.code__comment // No letters are allowed
                
        h3 Howdy intelligently interprets your messages for professionally presented emails
        
        p Howdy picks out common message fields like <strong>names</strong>, <strong>subjects</strong> and <strong>email</strong> addresses in order to intelligently set <code>reply-to</code>, <code>from</code> and <code>subject</code> properties on the emails it sends. This gives you professionally presented emails with zero effort.
                
    section.sellpoints#unbelieveable-value
      .container
        h2 Unbelieveable value
        h3 Our pricing is simple, flat, and affordable at $2 per month
        
        include ./pages/modules/pricing-sellpoints
        
        p.centered  
          a.button(href="") Start my Trial
