extends pages/base/_base

block prepend vars
  -var bodyClass = 'home-page'
  -var exampleEmail = 'your-email@example.com'
  -var shareMessage = 'Check out Howdy. Form submissions right to your inbox. No programming required.'
  -var description = 'Howdy detects forms on your web page, automatically handles their validation and sends their content to your email inbox'

block content
    script(src='/scripts/app/main.app.js')

    section.benefits
      .container
        h2 A Designers Best Friend

        .benefit
          h4.benefit__heading Automatic validations
          p.benefit__content Howdy comes with out-the-box validation on common fields.

        .benefit
          h4.benefit__heading Custom validations
          p.benefit__content Specify your own validations with data attributes, no programming.

        .benefit
          h4.benefit__heading Use your own designs
          p.benefit__content Integrates seamlessly with your designs. Just drop in our snippet.

        .benefit
          h4.benefit__heading No account required
          p.benefit__content We just need an email address, so that's the only thing we ask for.

        .benefit
          h4.benefit__heading Tried &amp; tested
          p.benefit__content Howdy performs flawlessly on all devices; desktop &amp; mobile.

        .benefit
          h4.benefit__heading Absolute privacy
          p.benefit__content There's no need for us to store your data, so we don't. Simple.

    section.defaults
      .container
        h2 Automatic Validation
        h3 Howdy validates against common fields by default

        ul.list
          li.list__item email
          li.list__item name
          li.list__item first_name
          li.list__item last_name
          li.list__item firstName
          li.list__item lastName
          li.list__item subject
          li.list__item topic
          li.list__item about
          li.list__item body
          li.list__item message
          li.list__item address
          li.list__item postcode
          li.list__item post_code
          li.list__item postCode
          li.list__item zipcode
          li.list__item zip_code
          li.list__item zipCode
          li.list__item tel
          li.list__item telephone
          li.list__item mobile
          li.list__item mob
          li.list__item age
          li.list__item dob
          li.list__item date_of_birth
          li.list__item dateOfBirth


    section.customise
      .container
        h2 Custom Validation
        h3 Validate your custom fields by adding a <span>data-howdy-validate</span> attribute to your input

        .code
          .code__wrapper
            ul.code__list
              li.code__list__item <span class='code__data-attribute'>data-howdy-validate<span class='code__text'>=“</span>none<span class='code__text'>”</span></span> <span class='code__comment'>// No validation on this input</span>
              li.code__list__item <span class='code__data-attribute'>data-howdy-validate<span class='code__text'>=“</span>required<span class='code__text'>”</span></span> <span class='code__comment'>// Some value is required</span>
              li.code__list__item <span class='code__data-attribute'>data-howdy-validate<span class='code__text'>=“</span>email<span class='code__text'>”</span></span> <span class='code__comment'>// Email address is required</span>
              li.code__list__item <span class='code__data-attribute'>data-howdy-validate<span class='code__text'>=“</span>number<span class='code__text'>”</span></span> <span class='code__comment'>// A number is required</span>
              li.code__list__item <span class='code__data-attribute'>data-howdy-validate<span class='code__text'>=“</span>date<span class='code__text'>”</span></span> <span class='code__comment'>// A date is required</span>
              li.code__list__item <span class='code__data-attribute'>data-howdy-validate<span class='code__text'>=“</span>tel<span class='code__text'>”</span></span> <span class='code__comment'>// No letters are allowed</span>