block prepend vars
  -var appName = 'Howdy'
  -var exampleEmail = 'your-email-here@example.com'

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{appName}
    link(rel='stylesheet', href='styles/main.css')

    //- Uncomment one of the lines below to pull in either your app JS, or some library JS.
    script(src='/scripts/app/main.app.js')
    //- script(src='/scripts/lib/demoLib.js') //- A project built lib script.
    //- script(src='/lib/foo/bar.min.js') //- A bower installed script.

  body
    h1 #{appName}

    h2 Because contact forms needn't be hard work

    ol
      li Copy/paste our snippet into your web page
      li Start receiving messages at your designated email address

    h2 How do I use it?

    p First your email to generate your code snippet

    div.animated(id="snippet-envelope")

      div(id="snippet-generator")
        input(placeholder='#{exampleEmail}', id="snippet-generator-email")
        button(id="snippet-generator-button") Generate My Snippet

      div(id="snippet-display")
        pre
          &lt;script type="text/javascript" src="https://app.howdyform.com/static/howdyClient.js?email=<span id="snippet-display-email">#{exampleEmail}</span>"&gt;&lt;/script&gt;

    p That's it, Howdy will take care of the rest for you.

    h2 A designer's best friend

    ul
      li Loads of default sensible validations.
      li Specify your own validations <b>without programming</b>.
      li Integrate 100% seamlessly with your designs, no awkward styling issues.
      li No sign-up necessary
      li Performs flawlessly on all devices

    h2 Default validations

    p Howdy validates fields with these names by default:

    ul
      li <span class="code">email</span>
      li <span class="code">name</span>
      li <span class="code">first_name</span>
      li <span class="code">last_name</span>
      li <span class="code">firstName</span>
      li <span class="code">lastName</span>
      li <span class="code">subject</span>
      li <span class="code">topic</span>
      li <span class="code">about</span>
      li <span class="code">body</span>
      li <span class="code">message</span>
      li <span class="code">address</span>
      li <span class="code">postcode</span>
      li <span class="code">post_code</span>
      li <span class="code">postCode</span>
      li <span class="code">zipcode</span>
      li <span class="code">zip_code</span>
      li <span class="code">zipCode</span>
      li <span class="code">tel</span>
      li <span class="code">telephone</span>
      li <span class="code">mobile</span>
      li <span class="code">mob</span>
      li <span class="code">age</span>

    h2 Specifying your own validations

    p You can override any default validations or add your own custom fields by adding a <span class="code">data-howdy-validate=""</span> attribute to your input.</p>

    p Supported validations are as follows:

    ul 
      li <span class="code">none</span> - No validation on this input
      li <span class="code">required</span> - Some value is required
      li <span class="code">email</span> - An email address is required
      li <span class="code">number</span> - A number is required
      li <span class="code">noLetters</span> - No letters allowed in the input