extends ./templates/base/_base

block prepend vars
  -var bodyClass = "page page--pricing page--inner"
  -var currentPage = "Pricing"
  -var title = "Pricing - Instant contact forms without writing a line of code - Howdy"

block content

  //- Page header
  +page-header({
    title: "We like to keep things simple; one tier for large enterprises, and another <span>for everyone else</span>"
  })

  main

    //- Tierd
    +section({
      style: "blue-lightest"
    })

      //- Tiers
      +tiers([{
        benefits: [
          "2,000 emails",
          "25 sites",
          "25 forms",
          "5 addresses"
        ],
        description: "Our most popular package is aimed at designers, developers, marketers, and freelancers.",
        highlight: true,
        price: "$2/month",
        title: "Pro"
      },{
        benefits: [
          "Unlimited emails",
          "Unlimited sites",
          "Unlimited forms",
          "Unlimited addresses"
        ],
        description: "Our most popular package is aimed at designers, developers, marketers, and freelancers.",
        description: "Our Enterprise package is for aimed at businesses with an expectation of high volume usage.",
        price: "From $20/month",
        title: "Enterprise"
      }])

    //- Who's it for
    +section({
      description: "While Howdy's for anyone who wants a web-form, we created it with a few people in mind",
      title: "Who's it for"
    })


    //- Callout
    +section({
      style: "denim"
    })
      #snippet-generator-bottom
        //- See the SnippetGenerator react component
