extends ./templates/base/_base

block prepend vars
  -var bodyClass = "page page--snippet page--inner"
  -var title = "Instant contact forms without writing a line of code - Howdy"

block content

  //- Page header
  +page-header({
    title: "Phew, that was hard! <span>Here's your code snippet</span>. You're one step away from using Howdy"
  })

  main
    +section({})
      .snippet
        #snippet-display
          //- See the Snippet Display react component
