extends ./templates/base/_base

block prepend vars
  -var bodyClass = "page page--snippet page--inner"
  -var title = "Instant contact forms without writing a line of code - Howdy"

block prepend includes
  script(src="/lib/prism/prism.js")
  link(rel="stylesheet", href="/lib/prism/prism.css")


block content

  //- Page header
  +page-header({
    title: "Success! Here's your account <span class='page-header__title__highlight'>code snippet</span>"
  })

  .snippet
    #snippet-display
      //- See the Snippet Display react component

  +section({
    title: "Next steps",
    description: "You're just moments away from using Howdy!",
    style: 'blue',
    narrow: true
  })
    p This is <i>your</i> snippet, and the email address you've just entered will be associated with your Howdy account. If you want to send messages to other inboxes, there's no need to generate a new snippet. Just update the email address on your existing one.
    
    p To use your snippet, copy &amp; paste it into the HTML of the page with your web form on. When you next load the page, Howdy will find the form and automatically handle submissions from it, delivering the contents to your email inbox!

    p For more advanced usage, including custom input validations and error messages, please see <a href='/docs'>our documentation</a>. If this is all a bit confusing, email us at <a href='mailto:support@weareleaf.com'>support@weareleaf.com</a> and we'll help you out.
    
  //- Users image
  .users
    include images/users.svg
