extends ./templates/base/_base

block prepend vars
  -var bodyClass = "page page--terms page--inner"
  -var currentPage = "Terms of Service"
  -var title = "Terms of Service - Instant contact forms without writing a line of code - Howdy"

block content

  //- Page header
  +page-header({
    title: "Howdy's <span class='page-header__title__highlight'>Terms of Service</span>"
  })

  main

    //- Tierd
    +section({})
      p The following terms and conditions govern all use of the Howdy website ("the Website"). The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Howdy's Privacy Policies) and procedures that may be published from time to time on this Site by Howdy (collectively, the "Agreement").

      p Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by Howdy, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.

      h2 1. Access to your Howdy Account
      p Subject to the terms and conditions of this Agreement, the Service is solely for User's personal use. As used herein, "the User" includes Howdy's paying customers ("Customers"). This Agreement sets forth certain terms and conditions that apply to Customers, but not other Users. In the event any Customer-specific terms or conditions conflict with any of the terms or conditions that apply to Users generally, the Customer-specific terms/conditions shall control.

      p Howdy may change, suspend or discontinue the Services at any time, including the availability of any feature, database, or content. Howdy may also impose limits on certain features and services or restrict User's access to parts or all of the Services without notice or liability.

      p The User certifies to Howdy that if the User is an individual (i.e., not a corporation), the User is at least 13 years of age. The User also certifies that it is legally permitted to use the Service, and takes full responsibility for the selection and use of the the Service. This Agreement is void where prohibited by law, and the right to access the Service is revoked in such jurisdictions.

      p The User shall be responsible for obtaining and maintaining any equipment or ancillary services needed to connect to, access the Service, including, without limitation, modems, hardware, software, and long distance or local telephone service. The user shall be responsible for ensuring that such equipment or ancillary services are compatible with the Service.

      h2 2. Restrictions
      p The User shall not, nor permit anyone else to, directly or indirectly: (i) reverse engineer, disassemble, decompile or otherwise attempt to discover the source code or underlying algorithms of all or any part of the Service (except that this restriction shall not apply to the limited extent restrictions on reverse engineering are prohibited by applicable local law); (ii) modify or create derivatives of any part of the Service; (iii) rent, lease, or use the Service for timesharing or service bureau purposes; or (iv) remove or obscure any proprietary notices on the Service. As between the parties, the Company shall own all title, ownership rights, and intellectual property rights in and to the Service, and any copies or portions thereof.

      p The User shall not use any "deep-link", "page-scrape", "robot", "spider" or other automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to access, acquire, copy or monitor any portion of the Service or any Content, or in any way reproduce or circumvent the navigational structure or presentation of the Service or any Content, to obtain or attempt to obtain any materials, documents or information through any means not purposely made available through the Service. Howdy reserves the right to bar any such activity.

      p The User shall not attempt to gain unauthorized access to any portion or feature of the Service, or any other systems or networks connected to the Service or to any Howdy server, or to any of the services offered on or through the Service, by hacking, password "mining", or any other illegitimate means.

      p The User shall not probe, scan or test the vulnerability of the Service or any network connected to the Service, nor breach the security or authentication measures on the Service or any network connected to the Service.

      p The User shall not take any action that imposes an unreasonable or disproportionately large load on the infrastructure of the Service or Howdy's systems or networks, or any systems or networks connected to the Service or to Howdy.

      p The User shall not use any device, software or routine to interfere or attempt to interfere with the proper working of the Service or any transaction being conducted on the Service, or with any other person's use of the Service.

      p The User shall not use the Service or any Content for any purpose that is unlawful or prohibited by this Agreement.

      h2 3. Fees and Payment
      p Free use of the service is limited by a trial period on the Website, and Paid services are available on the Website. By selecting a Paid service you agree to pay Howdy the monthly or annual subscription fees indicated for that service. Payments will be charged on the day you sign up for a premium service and will cover the use of that service for a monthly or annual period as indicated. Paid service fees are not refundable.

      h2 4. Registration; Security
      p As a condition to using certain products and services of the Service, the User may be required to register with Howdy. The User shall provide Howdy with accurate, complete, and updated registration information. Failure to do so shall constitute a breach of this Agreement, which may result in immediate termination of the User's account. Howdy reserves the right to refuse registration of, or cancel a Howdy User in its discretion. The User shall be responsible for maintaining the confidentiality of the User's account information.

      h2 5. Termination
      p Howdy may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your Howdy account (if you have one), you may simply discontinue using the Website. Notwithstanding the foregoing, if you have a paid account, such account can only be terminated by Howdy if you materially breach this Agreement and fail to cure such breach within thirty (30) days from Howdy's notice to you thereof; provided that, Howdy can terminate the Website immediately as part of a general shut down of our service. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

      h2 6. Content
      p The User agrees that all content and materials (collectively, "Content") delivered via the Service or otherwise made available by Howdy at the Site are protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws.

      h2 7. Changes
      p Howdy reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes. Howdy may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.

      h2 8. Warranties
      p If The User is a Customer, Howdy makes the following warranty to Customer: Howdy shall use commercially reasonable efforts consistent with prevailing industry standards to provide the services in a professional and workmanlike manner that is free of defects. The Customer's sole remedy, and Howdy's exclusive liability, for defects in the Service shall be for Howdy to use commercially reasonable efforts to promptly correct such defects.

      p The Customer represents and warrants that: (i) with respect to all information it provides to Howdy (such as, Recipient Information), The Customer has the full right and authority to make such provision and to allow Howdy to use such information to provide the Service (including, without limitation, for Howdy to provide such information to its data providers), (ii) none of the content (e.g. emails) transmitted, uploaded or otherwise distributed by it (or its partners or any third party) through use of the Service will infringe or otherwise conflict with the rights of any third party.

      h2 9. Warranty Disclaimer
      p The Website is provided "as is". Howdy and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither Howdy nor its suppliers and licensors, makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.

      h2 10. Security

      p In no event will Howdy, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement or substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to Howdy under this agreement during the twelve (12) month period prior to the cause of action. Howdy shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.

      h2 11. General Representation and Warranty
      p You represent and warrant that (i) your use of the Website will be in strict accordance with the Howdy Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United Kingdom or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.

      h2 12. Privacy
      p Howdy's current privacy policy is available at the Site (the "Privacy Policy"), which is incorporated by this reference. Howdy strongly recommends that you review the Privacy Policy closely.

      h2 13. Copyright
      p All content included on the Site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of Howdy or its content suppliers and protected by United Kingdom and international copyright laws. The compilation of all content on the Site is the exclusive property of Howdy and protected by U.K. and international copyright laws. All software used on (or provided through) the Site is the property of Howdy or its software suppliers and protected by United States and international copyright laws.

      h2 14. Indemnification
      p You agree to indemnify and hold harmless Howdy, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys' fees, arising out of your use of the Website, including but not limited to out of your violation this Agreement.

    //- Callout
    +section({
      style: "denim"
    })
      #snippet-generator-bottom
        //- See the SnippetGenerator react component
