extends ./templates/base/_base

block prepend vars
  -var bodyClass = "page page--verify-recipient page--inner"
  -var currentPage = "Recipient Verified"
  -var title = "Recipient Verified - Instant contact forms without writing a line of code - Howdy"

block content

  //- Page header
  +page-header({
    title: "Success! You've <span>verified a new recipient!</span>"
  })

  main

    //- Tierd
    +section({})
      //- Blocks
      +blocks([{
        heading: "What does this mean?",
        text: "You can send form submissions to this email address using Howdy. We won't ask you to verify anything else, we'll just deliver form submissions to your email inbox."
      },{
        heading: "How many more email addresses can I use?",
        text: "There's no limit. Howdy accounts are priced based on the number of installs (unique forms), not email inboxes you're sending to."
      }])

    script(type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(type="text/javascript").
      $(function() {
        window.howdy.handleVerifyRecipient()
      });
