.jumbotron
  .container
    h1.jumbotron__title #{appName}
    p.jumbotron__intro Howdy detects forms on your web page, automatically handles their validation and sends their content to your email address.

    .envelope.animated(id='snippet-envelope')

      .envelope__email-capture(id='snippet-generator')
        p.envelope__lead Enter your email address to generate your Howdy code snippet:

        .animated(id='snippet-generator-inputs')
          input.envelope__input(placeholder='#{exampleEmail}', id='snippet-generator-email')
          button.envelope__button(id='snippet-generator-button') Generate My Snippet

      .snippet(id='snippet-display')
        p.envelope__lead Copy &amp; paste this snippet onto your form page and try it out! Howdy will only pick up inputs with a <b>name</b> attribute:
        pre
          .code
            .code__wrapper
              <span class='code__text'>&lt;</span><span class='code__element'>script </span><span class='code__attribute'>type</span><span class='code__text'>="</span><span class='code__value'>text/javascript</span><span class='code__text'>" </span><span class='code__attribute'>src</span><span class='code__text'>="</span><span class='code__value'>https://app.howdyform.com/static/howdyClient.js?email=<span id="snippet-display-email">#{exampleEmail}</span></span><span class='code__text'>"&gt;&lt;/</span><span class='code__element'>script</span><span class='code__text'>&gt;</span>