.jumbotron
  .container
    h1.jumbotron__title #{appName}
    p.jumbotron__intro #{description}

    .envelope.animated(id='snippet-envelope')

      .envelope__email-capture(id='snippet-generator')
        p.envelope__lead Enter your email address to start your Howdy trial

        .animated(id='snippet-generator-inputs')
          input.envelope__input(placeholder='#{exampleEmail}', id='snippet-generator-email')
          button.envelope__button(id='snippet-generator-button') Get Started

      .snippet(id='snippet-display')
        p.envelope__lead Paste this into your form page and trial Howdy free for 2 weeks:
        pre
          .code
            .code__wrapper
              span.code__text &lt;
              span.code__element script 
              span.code__attribute src
              span.code__text ="
              span.code__value
                span(id="snippet-display-url")
                span ?token=
                span(id="snippet-display-token") #{exampleEmail}
              span.code__text " 
              span.code__attribute data-howdy-recipient
              span.code__text ="
              span.code__value
                span(id="snippet-display-email")
              span.code__text "&gt;&lt;/
              span.code__element script
              span.code__text &gt;

        .additional-info
          h4 Boring Notes
          ul
            li <strong>Your trial ends 2 weeks after your first use</strong>, we'll send you a payment link then.
            li Howdy will only include the contents of form fields with a <code>name</code> attribute.
            li You can reuse your snippet for as many email inboxes as you like, just <strong>swap the <code>data-howdy-recipient</code></strong> attribute for each new inbox.