.jumbotron
  .container
    h1.jumbotron__title #{appName}
    h2.jumbotron__slogan #{slogan}
    p.jumbotron__intro Contact forms a constant pain in the neck for you and your clients? Howdy handles form validation and submission, delivering the results straight to your email inbox. <span>No programming required.</span>

    .envelope.animated(id='snippet-envelope')

      .envelope__email-capture(id='snippet-generator')
        p.envelope__lead Enter your email address to generate your Howdy code snippet:

        input.envelope__input(placeholder='#{exampleEmail}', id='snippet-generator-email')
        button.envelope__button(id='snippet-generator-button') Generate My Snippet

      .snippet(id='snippet-display')
        p.envelope__lead Copy &amp; paste this snippet onto the page with your form on to start receiving submissions right to your inbox:
        pre
          .code
            .code__wrapper
              <span class='code__text'>&lt;</span><span class='code__element'>script </span><span class='code__attribute'>type</span><span class='code__text'>="</span><span class='code__value'>text/javascript</span><span class='code__text'>" </span><span class='code__attribute'>src</span><span class='code__text'>="</span><span class='code__value'>https://app.howdyform.com/static/howdyClient.js?email=<span id="snippet-display-email">#{exampleEmail}</span></span><span class='code__text'>"&gt;&lt;/</span><span class='code__element'>script</span><span class='code__text'>&gt;</span>