.pricing-sellpoints
  ul
    li Use Howdy across an <strong>unlimited</strong> number of sites
    li Use Howdy for an <strong>unlimited</strong> number of forms
    li Use Howdy to send messages to <strong>25 different inboxes</strong>
    li <strong>24/7 support</strong> from friendly &amp; patient human beings
    li <strong>Never waste time</strong> with form handling, validation, delivery <em>or</em> message formatting again
