
<!-- Footer-->
<footer class="footer">
  <div class="container">
    <div class="footer__section"><a href="/pages/report-issue" class="footer__link">Report <span class='additional-content'>an</span> issue</a></div>
    <div class="footer__section">
      <p class="footer__text"><span class='additional-content'>Made with <span class='heart'>❤</span> by </span><a class='footer__link--leaf' href='http://weareleaf.com' target='_blank'>Leaf</a></p>
    </div>
    <div class="footer__section"><a href="https://twitter.com/share" data-url="http://www.howdyform.com/" data-text="undefined" data-via="leafagency" class="footer__share-button twitter-share-button">Tweet</a>
      <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
</footer>