.footer {
  background-color: $denim;
  text-align: center;

  &__inner {
    @include container;
    padding: $padding-vertical $padding-horizontal-fluid;
  }

  &__text {
    color: $lavender;
    margin-bottom: 0;
  }
}
