.header {
  background-color: $brand-purple;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 1;

  &__title {
    color: $medium-purple;
    font: {
      family: $font-family-display;
      size: rem(48);
    }
    margin: 0;
    padding: rem(54) 0;
  }

  &__slogan {
    color: white;
  }

  &__intro {
    color: #efe8ff;
    margin-top: rem(18);

    @include susy-breakpoint($small-screen) {
      @include push(2);
      @include span(8);
    }

    span {
      color: white;
    }
  }
}