html, body {
  height: 100%;
}

.page {
  background-color: $base-background-color;

  &--start-subscription {
    background-color: $blue-lighter;
  }

  &--try-it, &--snippet {
    background-color: $blue;
  }
}

.site-wrapper {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

.site-wrapper:after {
  content: "";
  display: block;
  height: $footer-height;
}

.docs-section {
  margin-bottom: $spacing-vertical-xl;

  @include susy-breakpoint($bp-lg) {
    pre.language-html {
      margin: 0 0 $spacing-vertical -20% !important;
      padding: $spacing-vertical !important;
      width: 140%;
    }
  }
}
