html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  @include container;
  padding: 0 rem(20);

  @include susy-breakpoint($medium-screen) {
    padding: 0;
  }
}

section {
  @include clearfix;
  padding: rem(40) 0;

  @include susy-breakpoint($small-screen) {
    padding: rem(80) 0;
  }
}