html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  @include container;
  padding: 0 rem(20);

  @include susy-breakpoint($medium-screen) {
    padding: 0;
  }
}

.content-wrapper {
  flex: 1;
}

section {
  @include clearfix;
  padding: rem(40) 0;

  @include susy-breakpoint($small-screen) {
    padding: rem(80) 0;
  }
}