.benefits {
  background-color: $light-gray;
  margin-top: rem(-20);
  position: relative;
  text-align: center;
  z-index: 2;
}

.benefit {
  &:first-of-type {
    @include susy-breakpoint($small-screen) {
    }
  }

  @include susy-breakpoint($medium-screen) {
    @include span(4);

    &:nth-of-type(2n) {
      @include span(4);
    }

    &:nth-of-type(3n) {
      @include last;
    }
  }
}