.code {
  @include clearfix;
  background-color: #35355e;
  border-radius: 5px;
  color: #d08770;
  font-family: $font-family-mono;
  padding: rem(20);
  text-align: left;
  white-space: initial;

  &__list {
    list-style: none;

    &__item {
      margin-top: rem(20);

      &:first-child {
        margin-top: 0;
      }

      @include susy-breakpoint($small-screen) {
        margin-top: 0;
      }
    }
  }

  &__text {
    color: white;
  }

  &__comment {
    color: #a3be88;
  }
}

pre {
  display:block;
  margin: 0;
}