pre {
  clear: both;
  margin: 0;
  white-space: initial;
}

.code {
  @include clearfix;
  background-color: #35355e;
  border-radius: 5px;
  color: #d08770;
  font: {
    family: $font-family-mono;
    size: rem(14);
  }
  overflow-y: auto;
  text-align: left;
  white-space: initial;

  @include susy-breakpoint($extra-small-screen) {
    font-size: rem(16);
  }

  &__wrapper {
    display: table;
    padding: rem(13);

    @include susy-breakpoint($extra-small-screen) {
      padding: rem(20);
    }
  }

  &__list {
    list-style: none;

    &__item {
      display: table;
      margin-top: rem(20);
      width: 100%;

      @include susy-breakpoint($small-screen) {
        display: block;
        width: auto;
      }

      &:first-child {
        margin-top: 0;
      }

      @include susy-breakpoint($small-screen) {
        margin-top: 0;
      }
    }
  }

  &__element {
    color: #bf6167;
  }

  &__attribute {
    color: #d08770;
  }

  &__value {
    color: #a3be88;
  }

  &__text {
    color: white;
  }

  &__data-attribute {
    display: table-footer-group;

    @include susy-breakpoint($small-screen) {
      display: initial;
    }
  }

  &__comment {
    color: #a3be88;
    display: table-caption;

    @include susy-breakpoint($small-screen) {
      display: initial;
    }
  }
}