.defaults {

  &__list {
    column-count: 2;
    column-gap: rem(30);

    @include susy-breakpoint($small-screen) {
      column-count: 5;
    }

    &__item {
      background: url('/images/bullet.svg') no-repeat 0 rem(7);
      break-inside: avoid;
      list-style: none;
      margin: 0 0 rem(12);
      padding-left: rem(24);
    }
  }
}