.envelope {
  @include clearfix;
  background: white url('/images/dashes.svg') no-repeat center top;
  border-radius: 10px 10px 0 0;
  padding: rem(54) 0;

  &__lead {
    @include push(2);
    @include span(8);
    color: #5a5469;
    font-size: rem(20);
  }

  &__input-group {
    @include push(1);
    @include span(10);
  }
}