#snippet-display {
  @include clearfix;
  display: none;
}

.snippet {
  @include push(1);
  @include span(10);
}

.envelope {
  @include clearfix;
  background: white url('/images/dashes.svg') no-repeat center top;
  box-shadow: inset 0 -1px 10px #ccc;
  border-radius: 10px 10px 0 0;
  clear: both;
  padding: rem(54) 0 rem(54);
  position: relative;

  &__lead {
    @include span(12);
    color: #5a5469;
    font-size: rem(18);
    margin-bottom: rem(20);
  }

  &__email-capture {
    @include push(1);
    @include span(10);
    display: table;
  }

  input.envelope__input {
    height: rem(51);
    padding-bottom: rem(15);
    padding-top: rem(14);

    @include susy-breakpoint($small-screen) {
      border-right: none;
      border-radius: $base-border-radius 0 0 $base-border-radius;
      float: left;
      width: calc(100% - 186px);
    }
  }

  &__button {
    height: rem(51);

    @include susy-breakpoint($small-screen) {
      border-radius: 0 $base-border-radius $base-border-radius 0;
      float: right;
      width: rem(186);
    }
  }

  .additional-info {
    text-align: left;

    h4 {
      text-align:left;
      margin: 0 0 $smaller-spacing;
    }

    ul {
      margin-left: $smaller-spacing;
    }
  }
}

input {
  @include transition(background-color 400ms ease, border-color 400ms ease);
}

.error input {
  background-color: #ffeffe;
  border-color: #dfbedd;
}