#snippet-display {
  @include clearfix;
  display: none;
}

.snippet {
  @include push(1);
  @include span(10);
}

.envelope {
  @include clearfix;
  background: white url('/images/dashes.svg') no-repeat center top;
  border-radius: 10px 10px 0 0;
  clear: both;
  padding: rem(54) 0 rem(74);
  position: relative;

  &__lead {
    @include span(12);
    color: #5a5469;
    font-size: rem(20);
    margin-bottom: rem(20);
  }

  &__email-capture {
    @include push(1);
    @include span(10);
    display: table;
  }

  &__input {
    height: rem(51);
    padding-bottom: rem(15);
    padding-top: rem(14);

    @include susy-breakpoint($small-screen) {
      border-right: none;
      border-radius: $base-border-radius 0 0 $base-border-radius;
      float: left;
      width: calc(100% - 186px)
    }
  }

  &__button {
    height: rem(51);

    @include susy-breakpoint($small-screen) {
      border-radius: 0 $base-border-radius $base-border-radius 0;
      float: right;
      width: rem(186);
    }
  }
}

input {
  @include transition(background-color 400ms ease);
  @include transition(border-color 400ms ease);
}

.error input {
  background-color: #fdf4f4;
  border-color: #e7d1d1;
}