.jumbotron {
  background-color: $brand-purple;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 1;

  &__title {
    color: $medium-purple;
    font: {
      family: $font-family-display;
      size: rem(48);
    }
    margin: 0;
    padding: rem(48) 0;

    &::after {
      content: 'BETA';
      font: {
        family: $font-family-sans-serif;
        size: rem(15);
      }
      position: absolute;
    }
  }

  &__slogan {
    color: white;
  }

  &__intro {
    color: white;
    font-size: rem(21);
    margin-bottom: rem(48);

    @include susy-breakpoint($small-screen) {
      @include push(1);
      @include span(10);
    }

    span {
      color: white;
    }
  }
}