.panel {
  background-color: #f0eaff;
  border: solid 2px #c3abff;
  border-radius: $base-border-radius;
  margin-top: rem(40);
  padding: rem(24);
  text-align: center;

  &__content {
    margin-bottom: 0;
  }
}