.payment-errors {
  background-color: #FF6F6F;
  border-radius: 4px;
  color: white;
  display: inline-block;
  line-height: 200%;
  padding: 0 rem(8);
  font-size: rem(14);
  margin: $small-spacing 0;
  width:100%;
}