.masthead
  .masthead__logo
    a.masthead__logo__link(href="/")
      .masthead__logo__link__inner
        .logo

  nav.masthead__navigation.navigation
    ul.navigation__list(role="navigation")
      li.navigation__list__item: a.navigation__list__link(href="#") Pricing
      li.navigation__list__item: a.navigation__list__link(href="#") Docs
      li.navigation__list__item: a.navigation__list__link(href="#") FAQs
      li.navigation__list__item: a.navigation__list__link(href="#") Support

  .masthead__cta
    button.masthead__cta__button.button Try it for free
