.alert {
  border: $base-border-style $border-width-lg #99d0ff;
  padding: $padding-vertical-sm $padding-horizontal-sm;
  border-radius: $base-border-radius;
  margin-bottom: $spacing-vertical;
  font-size: .85em;

  &--info {
    background-color: #fafdff;
    color: #508ec3;
  }

  &--warning {
    background-color: #fafdff;
    color: #508ec3;
  }

  &__text {
    margin-bottom: 0;
  }
}
