.benefits {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include susy-breakpoint($bp-xl) {
    flex-direction: row;
  }

  &__cost {
    &__text {
      color: $white;
      font-size: 1.4rem;
      text-align: center;
      @include susy-breakpoint($bp-sm) {
        font-size: 2.4rem;
        text-align: left;
      }
      margin-bottom: 0;
      max-width: 8em;

      &__highlight {
        background: url('/images/highlight-lg.svg') no-repeat;
        background-size: 100% 100%;
        left: -.4em;
        padding: .2em .4em;
        position: relative;
        top: -.2em;
      }
    }
  }

  &__list {
    margin-bottom: 0;

    &__item {
      color: $lavender;
      font-size: 1rem;
      margin: $spacing-vertical-xs 0;
      text-align: center;
      &:last-child {
        margin-bottom: 0;
      }

      @include susy-breakpoint($bp-sm) {
        font-size: 1.2rem;
        margin-bottom: 0;
        text-align: left;
      }


      &__highlight {
        color: $white;
      }
    }
  }
}
