.callout {

  &__inner {
    text-align: center;
  }

  &__intro {
    color: $black;
    font-size: 1rem;

    .callout--dark & {
      color: $white;
    }
  }

  &__form {
    @include margin-horizontal(auto);

    @include susy-breakpoint($bp-lg) {
      width: 37.5rem;
    }

    &__input-group__input {

      .callout--dark & {
        background-color: $denim-dark;
        color: $white;

        &::placeholder {
          color: $lavender-dark;
        }
      }
    }
  }
}
