.demo {
  display: flex;

  &__form,
  &__email {
    flex: 1;
    padding: $padding-vertical-lg $padding-horizontal-lg;
  }

  &__form {
    background-color: $blue-dark;
    border-radius: $border-radius-lg;
     margin-bottom: 0;

    &__label {
      color: $white;
    }

    &__input {
      background-color: $blue-darker;
      color: $white;
      padding: 1.35em;

      &:hover {
        background-color: darken($blue-darker, 4%);
      }
    }
  }

  &__email {
    @include margin-vertical($spacing-vertical-lg);
    background-color: $white;
    border-radius: 0 $border-radius-lg $border-radius-lg 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__header {
      border-bottom: $base-border;
      color: $black;
      display: block;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: $spacing-vertical;
      padding-bottom: $padding-vertical-xxs;
    }

    &__body {
      align-items: flex-start;
      display: flex;

      &__content {
        color: $black;
      }

      &__thumb {
        margin-right: $spacing-horizontal-xs;
      }

      &__name {

      }

      &__from {
        font-size: .75rem;
      }

      &__to {
        font-size: .75rem;
      }

      &__list {

        &__item {

          &__label {

            &--link {

            }
          }
        }
      }

      &__message {

      }
    }

    &__footer {
      align-items: flex-start;
      display: flex;

      &__thumb {
        margin-right: $spacing-horizontal-xs;
      }

      &__textarea {
        border: $base-border;
        flex: 1 0 auto;
        min-height: 8em;
        padding: $padding-vertical-xs $padding-horizontal-xs;

        &__link {
          text-decoration: underline;
        }
      }
    }
  }
}
