.page-header {
  @include clearfix;
  @include padding-vertical($padding-vertical-xl);
  background-color: $blue;
  text-align: center;

  .page--home & {
    padding-bottom: 0;
  }

  .page--start-subscription & {
    padding-bottom: 13em;
  }

  &__title {
    color: $white;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 32.5rem;

    .page--home &,
    .page--start-subscription & {
      margin-bottom: $spacing-vertical-lg;
    }

    span {
      @include margin-horizontal(-$spacing-horizontal-xxs);
      @include padding-horizontal($padding-horizontal-xxs);
      background: url('/images/highlight.svg') no-repeat;
      background-size: 100% 100%;
    }
  }
}
