.section {
  @include padding-vertical($padding-vertical-lg);

  @include susy-breakpoint($bp-sm) {
    @include padding-vertical($padding-vertical-xxl);
  }

  &--blue {
    background-color: $blue;

    .section__title,
    .section__description {
      color: $white;
    }
  }

  &--blue-lightest {
    background-color: $blue-lighter;
  }

  &--denim {
    background-color: $denim;
    border-bottom: $base-border-style $border-width-lg darken($denim, 5%);
    position: relative;

    &::after {
      background-color: lighten($denim, 5%);;
      border-bottom: 0;
      content: '';
      height: $base-border-width;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__inner {
    @include container;
    padding: 0 $padding-horizontal-fluid;

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__intro {
    margin-bottom: $spacing-vertical-lg;
    text-align: center;
  }

  &__description {
    font-size: 1.2rem;
    margin-bottom: 0;
    max-width: 25.5em;
  }
}
