.snippet {
  background-color: $denim;
  border-radius: $base-border-radius;
  color: $white;
  margin: 0 auto;
  text-align: center;
  padding: $padding-vertical-sm $padding-horizontal-sm;
  width: 80%
}
