.users {
  overflow: hidden;
  
  .page--pricing & {
    background-color: $blue-lighter;
  }

  svg {
    display: block;
    margin: -$spacing-horizontal-tiny auto;
    max-width: 250%;
    height: auto;
  }
}
