@import 'animate';

body {
  font-family:Helvetica;
}

.instructions {
  background:#f5f5f5;
  border:1px solid #ddd;
  border-radius:4px;
  text-align:center;
}

#snippet-display {
  font-size:1.5em;
  color:#333;
  padding:10px 0;
  display:none;
}


#snippet-envelope {
  background:#f5f5f5;
  border:1px solid #ddd;
  padding:25px;
}