body {
  font-family:Helvetica;
}

.instructions {
  background:#f5f5f5;
  border:1px solid #ddd;
  border-radius:4px;
  text-align:center;
}

.snippet-container {
  border:1px solid #ddd;
  background:#f5f5f5;
  font-size:1.5em;
  color:#666;
  padding:10px 25px;
}