// Footer
footer.footer
  .container

    .footer__section
      a.footer__link(href='mailto:hello@weareleaf.com') Report <span class='additional-content'>an</span> issue

    .footer__section
      p.footer__text <span class='additional-content'>Made with <span class='heart'>❤</span> by </span><a class='footer__link--leaf' href='http://weareleaf.com' target='_blank'>Leaf</a>

    .footer__section
      a.footer__share-button.twitter-share-button(href='https://twitter.com/share', data-url='http://www.howdyform.com/', data-text='#{shareMessage}', data-via='leafagency') Tweet

      script(type='text/javascript').
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');