extends ../pages/base/_base

block prepend vars
  -var bodyClass = 'confirmed-page inner-page'

block content

    section
      .container.centered

        h2 Thanks for validating your email, you're all ready to go! 

        p Your form will now send submissions right through to your inbox.

        p Close this window and go try it out!
