extends ../pages/base/_base

block prepend vars
  -var bodyClass = 'report-issue-page inner-page'

block content

    section
      .container

        h2 Report an Issue

        form
          .form-group
            label(for='fullName') Full name
            input(type='text', name='fullName', placeholder='So we know who to greet')

          .form-group
            label(for='email') Email
            input(type='email', name='email', placeholder='So we know where to reply')

          .form-group
            label(for='') Issue description
            textarea(name='issueDescription', placeholder='What appears to be the problem?')

          button(type='submit') Submit my issue
