extends ../pages/base/_base

block prepend vars
  -var bodyClass = 'confirmed-page inner-page'

block content

  section
    .container
      img(src='/images/balloons.png')
      h2 Thanks for starting a Howdy subscription!
      h3 We've successfully taken your payment. We hope you enjoy using the service!
