extends ../pages/base/_base

block prepend vars
  -var bodyClass = 'confirmed-page inner-page'

block content

  section
    .container

      img(src='/images/balloons.png')

      h2 Thanks for validating this email address, you're all ready to go!

      p Your form will now send submissions right through to your inbox. Go try it out!
