
<div class="benefits">
  <div class="benefits__cost">
    <p class="benefits__cost__text">Howdy costs just <span class="benefits__cost__text__highlight">$2 per month</span></p>
  </div>
  <ul class="benefits__list">
    <li class="benefits__list__item">Use Howdy across an <strong class="benefits__list__item__highlight">unlimited</strong> number of sites</li>
    <li class="benefits__list__item">Use Howdy for up to <strong class="benefits__list__item__highlight">25</strong> different forms</li>
    <li class="benefits__list__item">Use Howdy with an <strong class="benefits__list__item__highlight">unlimited</strong> number of email addresses</li>
  </ul>
</div>