
<div class="masthead">
  <div class="masthead__logo"><a class="masthead__logo__link" href="/">
      <div class="masthead__logo__link__inner">
        <div class="logo"></div>
      </div></a></div>
  <nav class="masthead__navigation navigation">
    <ul class="navigation__list" role="navigation">
      <li class="navigation__list__item"><a class="navigation__list__link" href="/pricing">Pricing</a>
      </li>
      <li class="navigation__list__item"><a class="navigation__list__link" href="/docs">Docs</a>
      </li>
      <li class="navigation__list__item"><a class="navigation__list__link" href="/faq">FAQ</a>
      </li>
      <li class="navigation__list__item"><a class="navigation__list__link" href="/try-it">Free trial</a>
      </li>
    </ul>
  </nav>
  <div class="masthead__cta"><a class="masthead__cta__button button" href="/try-it">Try it for free</a></div>
</div>